#!/bin/bash

unset SSH_ASKPASS

export EDITOR=/usr/bin/vim
export GOPATH=~/go
export PATH="$PATH:~/.bin:~/bin:$GOPATH/bin:$GOROOT/bin"

alias ll="ls --color=auto -Flh"
alias ls="ls --color=auto"
alias lla="ls -a --color=auto -Flh"
alias lsa="ls -a --color=auto"
alias sudos="sudo -s"
alias dnf="sudo dnf"
alias tmux="tmux -2"
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

#ssh() {
#    if [ "$(ps -p $(ps -p $$ -o ppid=) -o comm=)" = "tmux" ]; then
#        tmux set-window-option automatic-rename "off" 1>/dev/null
#        tmux rename-window "$(echo $1 | cut -d "@" -f 2 | cut -d "." -f 1)"
#        command ssh "$@"
##        tmux set-window-option automatic-rename "on" 1>/dev/null
#    else
#        command ssh "$@"
#    fi
#}

